@media (max-width:992px) {
    .auth_box {
        padding-block: 1.06rem 5.56rem;
      }
      .commen-input {
        height: 2.875rem;
      }  
}

@media (min-width:992px) {
        .auth_box .auth_note {
            margin-block: 10.25rem 7.69rem;
          }
          .commen-input {
            height: 3.875rem;
          }
         
}

@media (max-width:768px) {
  .img_container {
    width: 80%;
    margin-inline: auto;
    margin-top: 2rem;
}
.auth_box {
  width: 70%;
}
}
