@media (max-width:992px) {
      .commen-input {
        height: 2.875rem;
      }  
      .auth_box {
        width: 50%;
      }
}

@media (min-width:992px) {
          .commen-input {
            height: 3.875rem;
          }
         
}

@media (min-width:768px) and (max-width:1261px) {
  .auth_container {
    width: 85%;
    min-height:95%;
  }
  .commen-input {
    height: 1.875rem;
  }
}
