@media screen and (min-width:1300px) {
  .auth_container {
    max-width: 75%;
    min-height: 75%;
   }
 .auth_img {
  margin-right: -1rem;
 }
}

@media screen and (max-width:1300px) {
.auth_img {
  margin-right: -2rem;
 }
}