@media (min-width:576px) {
  .input_two_col {
    gap: 1.31rem;
  }
}
@media (max-width:576px) {
    .auth_box .auth_note {
        margin-block: 8.25rem 5.69rem;
      }
      .auth_box .auth_logo {
        width: 12.8125rem;
        height: 12.8125rem;
      }
      .commen-input {
        height: 1.875rem;
      }
    
}