/*

TemplateMo 591 villa agency

https://templatemo.com/tm-591-villa-agency

*/

/* ---------------------------------------------
Table of contents
------------------------------------------------
01. font & reset css
02. reset
03. global styles
04. header
05. banner
06. features
07. testimonials
08. contact
09. footer

--------------------------------------------- */
/* 
---------------------------------------------
font & reset css
--------------------------------------------- 
*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');/* 
/* 
---------------------------------------------
reset
--------------------------------------------- 
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, div
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q,
s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
figure, header, nav, section, article, aside, footer, figcaption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

header, nav, section, article, aside, footer, hgroup {
  display: block;
}

* {
  box-sizing: border-box;
}

html, body {
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none ;
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul {
  margin-bottom: 0px;
}

p {
  font-size: 14px;
  line-height: 28px;
  color: black;
}

img {
  overflow: hidden;
}
button {
  outline-color: transparent;
  border: none;
  background-color: transparent;
}

/* 
---------------------------------------------
Global Styles
--------------------------------------------- 
*/
:root {
  /* fonts */
  --clr-white:#F2F2F2;
  --clr-label:#313131;


  /* colors  */


  /* linegridient  */
}

.loading-page {
  left:-999rem;
   place-items: center;
}
.loading-page.active {
  left: 0;
  transition: .3s;
}

.commen-input {
  border: none;
   padding: 1rem;
   background-color:var(--clr-white) 
 }
 
input {
  border: none;
  outline: none;
}

html,
body {
  height: auto;
  overflow-x: hidden;
}

textarea {
  resize: none;
}

.h-screen {
  height: 100svh;
}
.place-items-center {
  place-items:  center;
}

.form-label {
  color:var(--clr-label);
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.auth_container {
  filter: drop-shadow(-9px 0px 33.5px rgba(0, 0, 0, 0.15)); 
  border-radius: 1rem 0 0 1rem;
}

.auth_container .img_container {
  filter: drop-shadow(-9px 0px 33.5px rgba(0, 0, 0, 0.15));
}

.auth_box {
  max-width: 70%;
  margin-inline: auto;
}
.auth_box .auth_logo {
  max-height: 8.8125rem;
}
.auth_box .auth_note p {
  color: #000;
font-size: 1.125rem;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 1rem;
}
.btn {
  width:80%;
height: clamp(  2.875rem ,4vw ,3.875rem );
display: grid;
place-items: center;
} 
.btn-primary {
  font-size: 1.125rem;
font-style: normal;
font-weight: 400;
line-height: normal;
background-color: #313131;
color: #FFF;
border: none;
margin: 0;
&:hover {
  background-color:#272525 ;
}
}
 